<?xml version='1.0' encoding='utf-8'?>
<plugin id="JCUpdate" version="1.0.2" xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android">
    <name>JCUpdate</name>
    <js-module name="JCUpdate" src="www/JCUpdate.js">
        <clobbers target="JCUpdate"/>
    </js-module>
    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="JCUpdate">
                <param name="ios-package" value="JCUpdate"/>
                <param name="onload" value="true" />
            </feature>
        </config-file>
        <source-file src="src/ios/JCUpdate.m"/>

        <!-->MKNetworkKit<-->
        <header-file src="src/ios/MKNetworkKit/MKNetworkEngine.h"/>
        <header-file src="src/ios/MKNetworkKit/MKNetworkKit.h"/>
        <header-file src="src/ios/MKNetworkKit/MKNetworkOperation.h"/>
        <header-file src="src/ios/MKNetworkKit/Categories/NSAlert+MKNetworkKitAdditions.h"/>
        <header-file src="src/ios/MKNetworkKit/Categories/NSData+Base64.h"/>
        <header-file src="src/ios/MKNetworkKit/Categories/NSDate+RFC1123.h"/>
        <header-file src="src/ios/MKNetworkKit/Categories/NSDictionary+RequestEncoding.h"/>
        <header-file src="src/ios/MKNetworkKit/Categories/NSString+MKNetworkKitAdditions.h"/>
        <header-file src="src/ios/MKNetworkKit/Categories/UIAlertView+MKNetworkKitAdditions.h"/>
        <header-file src="src/ios/MKNetworkKit/Reachability/Reachability.h"/>
        
        <source-file src="src/ios/MKNetworkKit/MKNetworkEngine.m"/>
        <source-file src="src/ios/MKNetworkKit/MKNetworkOperation.m"/>
        <source-file src="src/ios/MKNetworkKit/Categories/NSAlert+MKNetworkKitAdditions.m"/>
        <source-file src="src/ios/MKNetworkKit/Categories/NSData+Base64.m"/>
        <source-file src="src/ios/MKNetworkKit/Categories/NSDate+RFC1123.m"/>
        <source-file src="src/ios/MKNetworkKit/Categories/NSDictionary+RequestEncoding.m"/>
        <source-file src="src/ios/MKNetworkKit/Categories/NSString+MKNetworkKitAdditions.m"/>
        <source-file src="src/ios/MKNetworkKit/Categories/UIAlertView+MKNetworkKitAdditions.m"/>
        <source-file src="src/ios/MKNetworkKit/Reachability/Reachability.m"/>


        <!-->SSZipArchive<-->
        <header-file src="src/ios/SSZipArchive/Common.h"/>
        <header-file src="src/ios/SSZipArchive/SSZipArchive.h"/>
        <header-file src="src/ios/SSZipArchive/minizip/crypt.h"/>
        <header-file src="src/ios/SSZipArchive/minizip/ioapi.h"/>
        <header-file src="src/ios/SSZipArchive/minizip/mztools.h"/>
        <header-file src="src/ios/SSZipArchive/minizip/unzip.h"/>
        <header-file src="src/ios/SSZipArchive/minizip/zip.h"/>

        <source-file src="src/ios/SSZipArchive/SSZipArchive.m"/>
        <source-file src="src/ios/SSZipArchive/minizip/ioapi.c"/>
        <source-file src="src/ios/SSZipArchive/minizip/mztools.c"/>
        <source-file src="src/ios/SSZipArchive/minizip/unzip.c"/>
        <source-file src="src/ios/SSZipArchive/minizip/zip.c"/>

        <framework src="libz.dylib" />
        <framework src="CFNetwork.framework"/>
        <framework src="SystemConfiguration.framework" />
        <framework src="Security.framework" />
    </platform>
</plugin>